### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate the total number of schools
total_schools = school_data['school_name'].nunique()

# Calculate the total number of students
total_students = student_data['Student ID'].nunique()

# Calculate the total budget (assuming each school has the same budget)
total_budget = school_data['budget'].sum()

# Calculate the average math and reading scores
average_math_score = student_data['maths_score'].mean()
average_reading_score = student_data['reading_score'].mean()

# Calculate the percentage passing math (score of 50 or greater)
passing_math_count = student_data[student_data['maths_score'] >= 50]['Student ID'].count()
percentage_passing_math = (passing_math_count / total_students) * 100

# Calculate the percentage passing reading (score of 50 or greater)
passing_reading_count = student_data[student_data['reading_score'] >= 50]['Student ID'].count()
percentage_passing_reading = (passing_reading_count / total_students) * 100

# Calculate the percentage overall passing (both math and reading)
overall_passing_count = student_data[(student_data['maths_score'] >= 50) & (student_data['reading_score'] >= 50)]['Student ID'].count()
percentage_passing_overall = (overall_passing_count / total_students) * 100

# Create a DataFrame to hold the above results
lga_summary_df = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [percentage_passing_math],
    '% Passing Reading': [percentage_passing_reading],
    '% Overall Passing': [percentage_passing_overall]
})

# Format the displayed data
lga_summary_df['Total Students'] = lga_summary_df['Total Students'].map("{:,}".format)
lga_summary_df['Total Budget'] = lga_summary_df['Total Budget'].map("${:,.2f}".format)
lga_summary_df['Average Math Score'] = lga_summary_df['Average Math Score'].map("{:.2f}".format)
lga_summary_df['Average Reading Score'] = lga_summary_df['Average Reading Score'].map("{:.2f}".format)
lga_summary_df['% Passing Math'] = lga_summary_df['% Passing Math'].map("{:.2f}%".format)
lga_summary_df['% Passing Reading'] = lga_summary_df['% Passing Reading'].map("{:.2f}%".format)
lga_summary_df['% Overall Passing'] = lga_summary_df['% Overall Passing'].map("{:.2f}%".format)

# Display the LGA summary DataFrame
lga_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.34,69.98,86.08%,84.43%,72.81%

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
# Group the data by school name to perform calculations for each school
school_grouped = school_data_complete.groupby('school_name')

# Calculate total students for each school
total_students_per_school = school_grouped['Student ID'].count()

# Calculate total school budget for each school
total_budget_per_school = school_grouped['budget'].max()

# Calculate per student budget for each school
per_student_budget_per_school = total_budget_per_school / total_students_per_school

# Calculate average math and reading scores for each school
average_math_score_per_school = school_grouped['maths_score'].mean()
average_reading_score_per_school = school_grouped['reading_score'].mean()

# Calculate the percentage passing math for each school
passing_math_per_school = school_data_complete[school_data_complete['maths_score'] >= 50].groupby('school_name')['Student ID'].count()
percentage_passing_math_per_school = (passing_math_per_school / total_students_per_school) * 100

# Calculate the percentage passing reading for each school
passing_reading_per_school = school_data_complete[school_data_complete['reading_score'] >= 50].groupby('school_name')['Student ID'].count()
percentage_passing_reading_per_school = (passing_reading_per_school / total_students_per_school) * 100

# Calculate the percentage overall passing for each school (both math and reading)
passing_overall_per_school = school_data_complete[(school_data_complete['maths_score'] >= 50) & (school_data_complete['reading_score'] >= 50)].groupby('school_name')['Student ID'].count()
percentage_passing_overall_per_school = (passing_overall_per_school / total_students_per_school) * 100

# Get the school type for each school
school_type_per_school = school_data.set_index('school_name')['type']

# Create a DataFrame to hold the above results
school_summary_df = pd.DataFrame({
    'School Type': school_type_per_school,
    'Total Students': total_students_per_school,
    'Total School Budget': total_budget_per_school,
    'Per Student Budget': per_student_budget_per_school,
    'Average Math Score': average_math_score_per_school,
    'Average Reading Score': average_reading_score_per_school,
    '% Passing Math': percentage_passing_math_per_school,
    '% Passing Reading': percentage_passing_reading_per_school,
    '% Overall Passing': percentage_passing_overall_per_school
})

# Format the displayed data
school_summary_df['Total School Budget'] = school_summary_df['Total School Budget'].map("${:,.2f}".format)
school_summary_df['Per Student Budget'] = school_summary_df['Per Student Budget'].map("${:,.2f}".format)

# Display the school summary DataFrame
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [4]:
# Sort the school summary DataFrame by '% Overall Passing' in descending order
top_performing_schools = school_summary_df.sort_values(by='% Overall Passing', ascending=False)

# Display the top five performing schools
top_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [5]:
# Sort the school summary DataFrame by '% Overall Passing' in ascending order
bottom_performing_schools = school_summary_df.sort_values(by='% Overall Passing')

# Display the five worst-performing schools
bottom_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [14]:
# Create pandas series for each year level
math_scores_9th = school_data_complete[school_data_complete['year'] == 9].groupby('school_name')['maths_score'].mean()
math_scores_10th = school_data_complete[school_data_complete['year'] == 10].groupby('school_name')['maths_score'].mean()
math_scores_11th = school_data_complete[school_data_complete['year'] == 11].groupby('school_name')['maths_score'].mean()
math_scores_12th = school_data_complete[school_data_complete['year'] == 12].groupby('school_name')['maths_score'].mean()

# Combine the series into a DataFrame
math_scores_by_year_df = pd.DataFrame({
    '9th Grade Math Avg': math_scores_9th,
    '10th Grade Math Avg': math_scores_10th,
    '11th Grade Math Avg': math_scores_11th,
    '12th Grade Math Avg': math_scores_12th
})

# Format the displayed data (optional)
math_scores_by_year_df = math_scores_by_year_df.round(2)  # Round the averages to two decimal places

# Display the math scores by year DataFrame
math_scores_by_year_df

,9th Grade Math Avg,10th Grade Math Avg,11th Grade Math Avg,12th Grade Math Avg
school_name,,,,
Bailey High School,72.49,71.90,72.37,72.68
Cabrera High School,72.32,72.44,71.01,70.60
Figueroa High School,68.48,68.33,68.81,69.33
Ford High School,69.02,69.39,69.25,68.62
Griffin High School,72.79,71.09,71.69,71.47
Hernandez High School,68.59,68.87,69.15,68.99
Holden High School,70.54,75.11,71.64,73.41
Huang High School,69.08,68.53,69.43,68.64
Johnson High School,69.47,67.99,68.64,69.29
Pena High School,72.00,72.40,72.52,71.19
Rodriguez High School,71.94,71.78,72.36,72.15
Shelton High School,72.93,72.51,70.10,72.33
Thomas High School,69.23,70.06,69.66,69.37
Wilson High School,69.21,69.46,68.38,69.79
Wright High School,71.74,72.18,73.28,70.85

## Reading Score by Year

* Perform the same operations as above for reading scores

In [16]:
# Create pandas series for each year level
reading_scores_9th = school_data_complete[school_data_complete['year'] == 9].groupby('school_name')['reading_score'].mean()
reading_scores_10th = school_data_complete[school_data_complete['year'] == 10].groupby('school_name')['reading_score'].mean()
reading_scores_11th = school_data_complete[school_data_complete['year'] == 11].groupby('school_name')['reading_score'].mean()
reading_scores_12th = school_data_complete[school_data_complete['year'] == 12].groupby('school_name')['reading_score'].mean()

# Combine the series into a DataFrame
reading_scores_by_year_df = pd.DataFrame({
    '9th Grade Reading Avg': reading_scores_9th,
    '10th Grade Reading Avg': reading_scores_10th,
    '11th Grade Reading Avg': reading_scores_11th,
    '12th Grade Reading Avg': reading_scores_12th
})

# Format the displayed data (optional)
reading_scores_by_year_df = reading_scores_by_year_df.round(2)  # Round the averages to two decimal places

# Display the math scores by year DataFrame
reading_scores_by_year_df

,9th Grade Reading Avg,10th Grade Reading Avg,11th Grade Reading Avg,12th Grade Reading Avg
school_name,,,,
Bailey High School,70.90,70.85,70.32,72.20
Cabrera High School,71.17,71.33,71.20,71.86
Figueroa High School,70.26,67.68,69.15,69.08
Ford High School,69.62,68.99,70.74,68.85
Griffin High School,72.03,70.75,72.39,69.43
Hernandez High School,68.48,70.62,68.42,69.24
Holden High School,71.60,71.10,73.31,70.48
Huang High School,68.67,69.52,68.74,68.67
Johnson High School,68.72,69.30,69.97,67.99
Pena High School,70.95,72.32,71.70,71.51
Rodriguez High School,70.90,70.14,71.42,71.41
Shelton High School,70.72,69.88,71.15,69.07
Thomas High School,69.67,69.74,70.75,68.73
Wilson High School,68.68,68.41,68.80,69.89
Wright High School,71.82,71.39,70.48,69.82

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Define spending bins and labels
spending_bins = [0, 585, 630, 645, 680]  # Define the bin edges
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]  # Label each bin

In [23]:
# Use pd.cut to categorize schools into spending ranges and add a new column to the school summary DataFrame
school_summary_df['Spending Ranges (Per Student)'] = pd.cut(
    school_summary_df['Per Student Budget'].replace('[\$,]', '', regex=True).astype(float),  # Convert to float after removing dollar sign
    bins=spending_bins,
    labels=spending_labels
)
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405,$585-630
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791,<$585
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051,$630-645
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880,$630-645
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617,$645-680
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717,<$585
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376,$645-680
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766,$645-680
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979,$585-630
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855,$630-645
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639,$585-630
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122,$630-645
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103,<$585
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222,<$585

In [24]:
spending_math_scores = school_summary_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_summary_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_summary_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_summary_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_summary_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [25]:
# Group the data by spending ranges
#spending_grouped = school_summary_df.groupby('Spending Ranges (Per Student)')

# Calculate the average math and reading scores for each spending range
#average_math_score = spending_grouped['Average Math Score'].mean()
#average_reading_score = spending_grouped['Average Reading Score'].mean()

# Calculate the percentage passing math for each spending range
#percentage_passing_math = spending_grouped['% Passing Math'].mean()

# Calculate the percentage passing reading for each spending range
#percentage_passing_reading = spending_grouped['% Passing Reading'].mean()

# Calculate the overall passing rate (average of % Passing Math and % Passing Reading) for each spending range
#overall_passing_rate = (percentage_passing_math + percentage_passing_reading) / 2

In [26]:
# Create a DataFrame for school performance by spending ranges
spending_summary_df = pd.DataFrame({
    'Average Math Score': spending_math_scores,
    'Average Reading Score': spending_reading_scores,
    '% Passing Math': spending_passing_math,
    '% Passing Reading': spending_passing_reading,
    'Overall Passing Rate': overall_passing_spending
})

# Display the spending summary DataFrame
spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,71.364587,70.716577,88.835926,86.390517,76.721458
$585-630,72.065868,71.031297,91.518824,87.292423,79.876293
$630-645,69.854807,69.838814,84.686139,83.763585,71.004977
$645-680,68.884391,69.045403,81.568470,81.769716,66.756253

## Scores by School Size

* Perform the same operations as above, based on school size.

In [27]:
# Define size bins and labels
size_bins = [0, 1000, 2000, 5000]  # Define the bin edges
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]  # Label each bin

In [30]:
# Use pd.cut to categorize schools into size ranges and add a new column to the school summary DataFrame
school_summary_df['School Size'] = pd.cut(
    school_summary_df['Total Students'],
    bins=size_bins,
    labels=size_labels
)

school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
school_name,,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405,$585-630,Large (2000-5000)
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791,<$585,Medium (1000-2000)
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051,$630-645,Large (2000-5000)
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880,$630-645,Large (2000-5000)
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630,Medium (1000-2000)
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617,$645-680,Large (2000-5000)
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717,<$585,Small (<1000)
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376,$645-680,Large (2000-5000)
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766,$645-680,Large (2000-5000)
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979,$585-630,Small (<1000)
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855,$630-645,Large (2000-5000)
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639,$585-630,Medium (1000-2000)
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122,$630-645,Medium (1000-2000)
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103,<$585,Large (2000-5000)
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222,<$585,Medium (1000-2000)

In [33]:
# Group the data by school size
size_grouped = school_summary_df.groupby('School Size')

# Calculate the average math and reading scores for each size range
average_math_score = size_grouped['Average Math Score'].mean()
average_reading_score = size_grouped['Average Reading Score'].mean()

# Calculate the percentage passing math for each size range
percentage_passing_math = size_grouped['% Passing Math'].mean()

# Calculate the percentage passing reading for each size range
percentage_passing_reading = size_grouped['% Passing Reading'].mean()

# Calculate the overall passing rate (average of % Passing Math and % Passing Reading) for each size range
overall_passing = size_grouped['% Overall Passing'].mean()

In [35]:
# Create a DataFrame for school performance by school size
size_summary_df = pd.DataFrame({
    'Average Math Score': average_math_score,
    'Average Reading Score': average_reading_score,
    '% Passing Math': percentage_passing_math,
    '% Passing Reading': percentage_passing_reading,
    'Overall Passing Rate': overall_passing
})

# Display the size summary DataFrame
size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

## Scores by School Type

* Perform the same operations as above, based on school type

In [37]:
# Group the data by school type
type_grouped = school_summary_df.groupby('School Type')

# Calculate the average math and reading scores for each school type
average_math_score = type_grouped['Average Math Score'].mean()
average_reading_score = type_grouped['Average Reading Score'].mean()

# Calculate the percentage passing math for each school type
percentage_passing_math = type_grouped['% Passing Math'].mean()

# Calculate the percentage passing reading for each school type
percentage_passing_reading = type_grouped['% Passing Reading'].mean()

# Calculate the overall passing rate (average of % Passing Math and % Passing Reading) for each school type
overall_passing = type_grouped['% Overall Passing'].mean()

In [38]:
# Create a DataFrame for school performance by school type
type_summary_df = pd.DataFrame({
    'Average Math Score': average_math_score,
    'Average Reading Score': average_reading_score,
    '% Passing Math': percentage_passing_math,
    '% Passing Reading': percentage_passing_reading,
    'Overall Passing Rate': overall_passing
})

# Display the type summary DataFrame
type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340